<div id="footer">
    <!-- this span is for adding galaxy button  -->
    <span id="galaxy-buttons">
        <!-- placeholder  -->
        <span><a class="waves-effect waves-light btn black"  onclick="Materialize.toast('I am a toast', 4000)">#LeonardodaVinci</a></span>
        <span><a class="waves-effect waves-light btn black"  onclick="Materialize.toast('I am a toast', 4000)">#RetourVersLeFutur</a></span>
        <!-- end of placeholder  -->

    <!-- setting button  -->
    </span>
        <a class="waves-effect waves-light btn modal-trigger black" data-target="modalSettings"><i class="material-icons left">settings</i>Settings</a>
    </span>

    <!-- search button -->
    <span>  
        <li>
            <a class="waves-effect waves-light btn" id="toggle-search" href="#!">
            <i class="large mdi-action-search"></i>
            </a>
        </li>  
    </span>

    <!-- search bar -->
    <div id="search" class="row white-text grey darken-3">
        <div class="container">
            <form id="searchFrom" autocomplete="off">
                <input id="input_Search" class="form-control" type="text" placeholder="{{searchbarPlaceholder}}" name="q"></input>
            </form>
        </div>
    </div>

</div>
