<span>
    <!-- Button Galaxy -->
    <a id="button-{{galaxyName}}"class="waves-effect waves-light btn modal-trigger-no-overlay black" data-target="modal-{{galaxyName}}">#{{galaxyName}}</a>

    <!-- Modal Galaxy options -->
    <div id="modal-{{galaxyName}}" class="modal modalGalaxy">
        <div class="modal-cotnent">

            <div class="switch">
                Display<br>
                <label>Hide <input type="checkbox"><span class="lever"></span> Show</label>
            </div>

            <div class="switch">
                <label>Hide <input type="checkbox"><span class="lever"></span> Show</label>
            </div>

            <div class="switch">
                <label>Hide <input type="checkbox"><span class="lever"></span> Show</label>
            </div>
            
        </div>
    </div>
    <!-- End of Modal tweet -->
</span>
