<!-- Modal Settings -->
<div id="modalSettings" class="modal">
    <div class="modal-content">
        <h4>Settings</h4> Tweets max
        <div class="input-field col s6">
            <form id="AtomScale" autocomplete="off">
                <input id="input_scaleAtom" type="text" length="10">
                <label for="input_scaleAtom">Atom Scale Factor</label>
            </form>
        </div>
        <div class="switch">
            <label>Off<input type="checkbox"><span class="lever"></span> On</label>
        </div>
        <input type="range" value="15" max="50" min="0" step="5">
        <p>Abouts things ...</p>
        <!--<a class="waves-effect waves-light btn "><i class="material-icons left">person_pin</i>About</a>-->
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-green btn-flat"><i class="material-icons left">person_pin</i>Github</a>
        <a class="modal-action waves-effect waves-green btn-flat"><i class="material-icons left">person_pin</i>About</a>
    </div>
</div>
